@media (min-width: 800px) {
  .Shown_when_big {
    display: flex;
  }
  .Shown_when_small {
    display: none;
  }
}

@media (max-width: 799px) {
  .Shown_when_big {
    display: none;
  }
  .Shown_when_small {
    display: block;
  }
  .small-image-container {
    flex-grow: 1;
  }
}

.top-list {
  display: 'flex';
}

ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.header-li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 100%;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.header-li:hover {
  background-color: rgb(0, 0, 0, 0.1);
}

img {
  width: 80px;
  aspect-ratio: initial;
}

header a {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  align-content: center;
  height: 100%;
  font-size: 0.95rem !important;
}

header a:hover {
  background-color: rgba(190, 188, 188, 0.452) !important;
}

.small-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
