.search-div {
  height: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.search-label {
  font-size: 24px;
  margin-right: 10px;
}

.search-input {
  height: 24px;
  width: 200px;
  border-radius: 8px;
  border: 1px solid lightgray;
  padding-left: 10px;
}

.search-input:focus-visible {
  border: 1px solid #35a836;
  outline: none;
}

.beneficiary_div p {
  font-size: 12px;
  margin-top: -3px;
  margin-bottom: -5px;
}

.extra-info-div {
  background-color: white;
  margin-top: 3px;
  margin-bottom: 3px;
}

.extra-info-title {
  font-weight: bold;
}

.first-info-div {
  margin-top: 18px;
}

.last-info-div {
  margin-bottom: 18px;
}
